%h1 Listing scenes

%table{width: '100%'}
  %thead
    %tr
      %th{width: 70}
      %th Title
      -# TODO show user for admin
      -#%th User
      %th{width: 300}
      - if user_is_admin?
        %th
        -#%th
        -#%th

  %tbody
    - @scenes.each do |scene|
      = link_to scene do
        %tr
          %td
            - unless scene.result.blank?
              = image_tag scene.result.url(:thumb)
          %td= link_to scene.title, scene
          -#%td= scene.user.name
          %td
            - completed_percent = scene.amount_done * 100
            - extra_classes = completed_percent == 100 ? 'success' : ''
            .progress{class: extra_classes}
              %span.meter{style: "width: #{completed_percent}%"}
          - if user_is_admin?
            %td= link_to 'Destroy', scene, :method => :delete, :data => { :confirm => 'Are you sure?' }
            -#%td= link_to 'Show', scene
            -#%td= link_to 'Edit', edit_scene_path(scene)

%br

= link_to 'New Scene', new_scene_path
