- content_for :title do
  = @scene.title

%h1=yield(:title)

%p
  %b Options:
  = @scene.options

.row
  %ul.small-block-grid-2.medium-block-grid-4
    - @scene.jobs.each do |job|
      %li.text-center.grid__item
        %div
          .row
            .small-12.columns
              - if job.result.blank?
                - state_class = "state-#{job.state}"
                .icon{ class: state_class }
              - else
                = link_to job.result.url(:original), target: :blank do
                  = image_tag(job.result.url(:medium))

= link_to 'Edit', edit_scene_path(@scene)
\|
= link_to 'Back', scenes_path
